/* Add your own styles You may want to separate your styles with a separator */
/* For your own styles, use a class */

/* ==========Main page styles========== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-width: 375px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: start; 
    flex-direction: column;
    position: relative;
}
/* ==========End Main page styles========== */

/* ==========Student1 styles========== */

/* ==========End Student1 styles========== */